// @import "../node_modules/bootstrap/scss/bootstrap";
// @import "~bootstrap/scss/bootstrap";
@import "bootstrap";

$darkblue:#003c50;
$mediumblue:#00a6b4;
$lightblue:#e8f3f6;
$orange:#e05926;

.btn-primary {
  @include button-variant($darkblue, darken($darkblue, 7.5%), darken($darkblue, 10%), lighten($darkblue,5%), lighten($darkblue, 10%), darken($darkblue,30%));
  color: #fff;
  &:hover {
            color: #fff;
            background-color: lighten($darkblue, 5%);
        }
}

.btn-outline-primary {
  @include button-outline-variant($darkblue, #222222, lighten($darkblue,5%), $darkblue);
}

.nav-link {
  color: $darkblue;
  &:hover {
    color: $mediumblue;
  }
  &:focus {
    color: $orange;
  }
}
// $btn-background: #003c50;
// $btn-border: #003c50;
// $btn-color: #fff;

// @mixin button-variant($background, $border, $color) {
//     background-color: $btn-background;
//     border: 2px solid $btn-border;
//     color: #fff;

//     &:hover {
//         border: 2px solid $btn-background;
//         color: $btn-color;
//     }
// }

// .btn-primary {
//     &.basic {
//         @include button-variant($btn-background, $btn-border, $btn-color);
//     }
// }