/* Fonts & Colors */

@font-face {
  font-family: "LegatoOT";
  src: url("./Fonts/LegatoOT.otf");
}

@font-face {
  font-family: "LegatoOT-Bold";
  src: url("./Fonts/LegatoOT-Bold.otf");
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("./Fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("./Fonts/OpenSans-Regular.ttf");
}



:root {
  --lightblue: #e8f3f6;
  --mediumblue: #00a6b4;
  --darkblue: #003c50;
  --darkestblue: #002F3D;
  --orange: #e05926;
  --lightgrey: #f3f3f3;
}

/* Large Container Styling */
* {
  border-radius: 0 !important;
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

html {
  background-color: #f3f3f3;
}

body {
  color: #151515;
  margin: 0;
  box-sizing: border-box;
  font-family: OpenSans-Regular !important;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


.dashBody {
  padding: 1vh 3vw 1vh 3vw;
  /* background-color: #f3f3f3; */
}

.body-row .header-row {
  margin: 0 !important;
}

.indicator-row {
  margin-bottom: 2vh !important;
}

#aboutCanvas {
  width: 700px !important;
}

/* Header Styling */

.HeaderDiv {
  box-sizing: border-box;
  display: flex;
  align-items: center !important;
  gap: 30px;
  background-color: var(--darkestblue);
  color: white;
  height: 7vh;
  /* padding: 0.5rem 0.5rem 0.5rem 1rem !important; */
  padding: 1vh 5vw 0.5vh 2.9vw !important;
}

h1 {
  font-family: LegatoOT-Bold;
  /* font-size: 1.25rem !important; */
  font-size: calc(0.6rem + 1.9vw) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-self: center;
  margin-bottom: 0 !important;
  text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

h2 {
  font-family: LegatoOT-Bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 1.4rem !important; */
  font-size: calc(1.3rem + 1vw) !important;
  text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

h5 {
  font-size: 0.65rem;
}


#BPDALogo {
  width: 15rem;
  align-self: center;
}

.aboutComp {
  margin-left: auto;
}

.subHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  /* padding: 0.75rem 5rem 0rem 5rem !important; */
  /* padding: 0.5rem 0.7rem 0rem 0.70rem !important; */
  padding: 1vh 4.5vw 0vh 3.2vw !important;
  margin-bottom: 1vh;
  background-color: var(--darkblue);
  color: white;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.subHeader>h2 {
  padding: 0rem 0rem 0rem 0.5rem;
  margin-bottom: 0.4vh !important;
}


/* Indicator Styling  */
.indicatorContainer,
.chartContainer,
.recharts-responsive-container {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  padding: 0.75rem;
  padding: 1vh;
  /* margin: 1vh 0 1vh 0; */
}

.indicatorContainer {
  height: 12vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow: auto;
}

.accentNumber {
  color: var(--mediumblue);
}

.indicatorSubtext,
h4 {
  font-size: 0.8rem !important;
  font-weight: bold !important;
  /* font-size: min(0.7rem, 1rem); */
}

.accentSubText {
  color: var(--orange);
  font-weight: bold;
}

.econ-column {
  display: flex;
  flex-direction: column;
  /* padding: .5vh;
  box-sizing: border-box; */
}

#commuterMapCol {
  padding: 1.5vh;
}

#commuterMapDiv,
#commuterMap {
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
  padding: 0.5vh;
  box-sizing: border-box;
}

/* Recharts Styling */

.recharts-legend-item,
.recharts-default-tooltip {
  font-size: 0.70rem;
}

.recharts-responsive-container {
  background-color: white;
  z-index: 10;
}

/* Legend was overlapping the responsize-container.  */
/* This was because the auto-calculated height of recharts-wrapper & recharts-surface was greater than parent container */
/* Solution: Set recharts-wrapper & recharts-surface height to 99%, forcing them to stay within parent container */
.recharts-wrapper {
  background-color: white;
  z-index: 10;
  height: 99% !important;
}

.recharts-surface {
  height: 99% !important;
}

.chartTitle {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  margin-bottom: 0 !important;
}

.subChartTitle {
  font-size: 0.95rem;
  text-align: center;
  margin: 0 !important;
}

.recharts-line>path {
  stroke-width: 2;
}

line.recharts-legend-icon {
  stroke-width: 6;
}

/* Button Styling */
#infoI {
  box-sizing: border-box;
  margin: 5px;
}

.citation {
  font-size: 0.6rem;
  opacity: .7;
  margin-bottom: 0.5rem;
}

.underlineButton {
  opacity: 80%;
  cursor: pointer;
  display: inline-block;
  color: #FFF;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
}

.underlineButton:hover {
  opacity: 100%;
  color: #FFF;
  transition: 0.3s;
}

.underlineButton::before {
  content: '';
  position: absolute;
  width: 85%;
  height: 4px;
  border-radius: 0px;
  background: var(--orange);
  bottom: 0;
  left: 0.2rem;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .4s ease-in-out;
}

.underlineButton:hover::before {
  transform-origin: left;
  transform: scaleX(1);

}

.nav-link {
  color: #003c50 !important;
  cursor: pointer;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--mediumblue) !important;
  transition: 0.3s;
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  border-radius: 0px;
  background: rgb(224, 89, 38);
  background: linear-gradient(90deg, rgba(224, 89, 38, 1) 0%, rgba(224, 89, 38, 1) 78%, rgba(255, 255, 255, 1) 100%);
  bottom: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-out;
  color: var(--mediumblue) !important;
}

.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  color: var(--mediumblue) !important;

}

svg {
  filter: drop-shadow(0 .5rem 1rem rgb(0 0 0 / 0.15));
}

.list-unstyled {
  margin-bottom: 1.5em;
}

.list-unstyled>li {
  font-size: 1.1rem;
}


/* Media Query For Wide Screens*/
@media (min-width: 1400px) {
  #root {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }

  .App,
  #AppContainer {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }

  #headerRow {
    box-sizing: border-box;
    box-sizing: border-box;
    height: 7%;
  }

  #bodyRow {
    height: 93%;
    border-radius: 0 !important;
    box-sizing: border-box !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  #bodyColumn {
    height: 100%;
    border-radius: 0 !important;
    box-sizing: border-box !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  #dashboard {
    height: 100%;
    box-sizing: border-box;
  }

  .subHeader {
    box-sizing: border-box;
    height: 3.5%;
    padding: 1vh 4.5vw 0vh 3.2vw !important;
  }

  .dashBody {
    height: 95.5%;
    box-sizing: border-box;
  }

  .indicator-row {
    box-sizing: border-box;
    height: 8%;
    padding-bottom: 1vh !important;
    margin-bottom: 0 !important;
  }

  .indicatorContainer {
    height: 100%;
    box-sizing: border-box;
  }

  .graph-row {
    box-sizing: border-box;
    height: 46%;
    padding-top: 1.5vh;
  }

  .graph-column {
    height: 100%
  }

  h1 {
    font-size: calc(0.25rem + 1.9vw) !important;
  }

  h2 {
    font-size: calc(0.60rem + 0.8vw) !important;
  }

  .indicatorSubtext,
  h4 {
    /* font-size: clamp(0.7rem, 1vw, 1.3rem) !important; */
    margin-top: 0.5rem;
    font-size: calc(0.1rem + 0.7vw) !important;
    /* font-size: clamp(calc(0.1rem + 0.6vw), calc(0.1rem + 0.8vw), calc(0.1rem + 0.8vw)) !important; */
  }

  .chartTitle {
    /* font-size: 1.4rem; */
    /* font-size: 1vw; */
    font-size: calc(0.15rem + 0.8vw) !important;
  }

  .subChartTitle {
    font-size: calc(0.1rem + 0.75vw) !important;
  }

  .recharts-legend-item,
  .recharts-default-tooltip,
  .citation {
    font-size: calc(0.1rem + 0.65vw);
  }

  iframe {
    box-sizing: border-box;
    padding: 0.6rem;
  }

  #commercialHub {
    width: 100%;
  }


}